# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Manually added
.pio
*.code-workspace
include
lib
test
.pio/build/project.checksum
.pio/build/d1_mini/idedata.json
.pio/libdeps/d1_mini/integrity.dat
.pio/libdeps/d1_mini/FastLED/.gitignore
.pio/libdeps/d1_mini/FastLED/.piopm
.pio/libdeps/d1_mini/FastLED/code_of_conduct.md
.pio/libdeps/d1_mini/FastLED/component.mk
.pio/libdeps/d1_mini/FastLED/keywords.txt
.pio/libdeps/d1_mini/FastLED/library.json
.pio/libdeps/d1_mini/FastLED/library.properties
.pio/libdeps/d1_mini/FastLED/LICENSE
.pio/libdeps/d1_mini/FastLED/PORTING.md
.pio/libdeps/d1_mini/FastLED/README.md
.pio/libdeps/d1_mini/FastLED/release_notes.md
.pio/libdeps/d1_mini/FastLED/workspace.code-workspace
.pio/libdeps/d1_mini/FastLED/.github/workflows/build.yml
.pio/libdeps/d1_mini/FastLED/ci/ci-compile
.pio/libdeps/d1_mini/FastLED/examples/AnalogOutput/AnalogOutput.ino
.pio/libdeps/d1_mini/FastLED/examples/Blink/Blink.ino
.pio/libdeps/d1_mini/FastLED/examples/ColorPalette/ColorPalette.ino
.pio/libdeps/d1_mini/FastLED/examples/ColorTemperature/ColorTemperature.ino
.pio/libdeps/d1_mini/FastLED/examples/Cylon/Cylon.ino
.pio/libdeps/d1_mini/FastLED/examples/DemoReel100/DemoReel100.ino
.pio/libdeps/d1_mini/FastLED/examples/Fire2012/Fire2012.ino
.pio/libdeps/d1_mini/FastLED/examples/Fire2012WithPalette/Fire2012WithPalette.ino
.pio/libdeps/d1_mini/FastLED/examples/FirstLight/FirstLight.ino
.pio/libdeps/d1_mini/FastLED/examples/Multiple/ArrayOfLedArrays/ArrayOfLedArrays.ino
.pio/libdeps/d1_mini/FastLED/examples/Multiple/MirroringSample/MirroringSample.ino
.pio/libdeps/d1_mini/FastLED/examples/Multiple/MultiArrays/MultiArrays.ino
.pio/libdeps/d1_mini/FastLED/examples/Multiple/MultipleStripsInOneArray/MultipleStripsInOneArray.ino
.pio/libdeps/d1_mini/FastLED/examples/Multiple/OctoWS2811Demo/OctoWS2811Demo.ino
.pio/libdeps/d1_mini/FastLED/examples/Multiple/ParallelOutputDemo/ParallelOutputDemo.ino
.pio/libdeps/d1_mini/FastLED/examples/Noise/Noise.ino
.pio/libdeps/d1_mini/FastLED/examples/NoisePlayground/NoisePlayground.ino
.pio/libdeps/d1_mini/FastLED/examples/NoisePlusPalette/NoisePlusPalette.ino
.pio/libdeps/d1_mini/FastLED/examples/Pacifica/Pacifica.ino
.pio/libdeps/d1_mini/FastLED/examples/Pintest/Pintest.ino
.pio/libdeps/d1_mini/FastLED/examples/Ports/PJRCSpectrumAnalyzer/PJRCSpectrumAnalyzer.ino
.pio/libdeps/d1_mini/FastLED/examples/Pride2015/Pride2015.ino
.pio/libdeps/d1_mini/FastLED/examples/RGBCalibrate/RGBCalibrate.ino
.pio/libdeps/d1_mini/FastLED/examples/RGBSetDemo/RGBSetDemo.ino
.pio/libdeps/d1_mini/FastLED/examples/SmartMatrix/SmartMatrix.ino
.pio/libdeps/d1_mini/FastLED/examples/TwinkleFox/TwinkleFox.ino
.pio/libdeps/d1_mini/FastLED/examples/XYMatrix/XYMatrix.ino
.pio/libdeps/d1_mini/FastLED/src/bitswap.cpp
.pio/libdeps/d1_mini/FastLED/src/bitswap.h
.pio/libdeps/d1_mini/FastLED/src/chipsets.h
.pio/libdeps/d1_mini/FastLED/src/color.h
.pio/libdeps/d1_mini/FastLED/src/colorpalettes.cpp
.pio/libdeps/d1_mini/FastLED/src/colorpalettes.h
.pio/libdeps/d1_mini/FastLED/src/colorutils.cpp
.pio/libdeps/d1_mini/FastLED/src/colorutils.h
.pio/libdeps/d1_mini/FastLED/src/controller.h
.pio/libdeps/d1_mini/FastLED/src/cpp_compat.h
.pio/libdeps/d1_mini/FastLED/src/dmx.h
.pio/libdeps/d1_mini/FastLED/src/fastled_config.h
.pio/libdeps/d1_mini/FastLED/src/fastled_delay.h
.pio/libdeps/d1_mini/FastLED/src/fastled_progmem.h
.pio/libdeps/d1_mini/FastLED/src/FastLED.cpp
.pio/libdeps/d1_mini/FastLED/src/FastLED.h
.pio/libdeps/d1_mini/FastLED/src/fastpin.h
.pio/libdeps/d1_mini/FastLED/src/fastspi_bitbang.h
.pio/libdeps/d1_mini/FastLED/src/fastspi_dma.h
.pio/libdeps/d1_mini/FastLED/src/fastspi_nop.h
.pio/libdeps/d1_mini/FastLED/src/fastspi_ref.h
.pio/libdeps/d1_mini/FastLED/src/fastspi_types.h
.pio/libdeps/d1_mini/FastLED/src/fastspi.h
.pio/libdeps/d1_mini/FastLED/src/hsv2rgb.cpp
.pio/libdeps/d1_mini/FastLED/src/hsv2rgb.h
.pio/libdeps/d1_mini/FastLED/src/led_sysdefs.h
.pio/libdeps/d1_mini/FastLED/src/lib8tion.cpp
.pio/libdeps/d1_mini/FastLED/src/lib8tion.h
.pio/libdeps/d1_mini/FastLED/src/noise.cpp
.pio/libdeps/d1_mini/FastLED/src/noise.h
.pio/libdeps/d1_mini/FastLED/src/pixelset.h
.pio/libdeps/d1_mini/FastLED/src/pixeltypes.h
.pio/libdeps/d1_mini/FastLED/src/platforms.cpp
.pio/libdeps/d1_mini/FastLED/src/platforms.h
.pio/libdeps/d1_mini/FastLED/src/power_mgt.cpp
.pio/libdeps/d1_mini/FastLED/src/power_mgt.h
.pio/libdeps/d1_mini/FastLED/src/wiring.cpp
.pio/libdeps/d1_mini/FastLED/src/lib8tion/math8.h
.pio/libdeps/d1_mini/FastLED/src/lib8tion/random8.h
.pio/libdeps/d1_mini/FastLED/src/lib8tion/scale8.h
.pio/libdeps/d1_mini/FastLED/src/lib8tion/trig8.h
.pio/libdeps/d1_mini/FastLED/src/platforms/fastspi_ardunio_core.h
.pio/libdeps/d1_mini/FastLED/src/platforms/apollo3/clockless_apollo3.h
.pio/libdeps/d1_mini/FastLED/src/platforms/apollo3/fastled_apollo3.h
.pio/libdeps/d1_mini/FastLED/src/platforms/apollo3/fastpin_apollo3.h
.pio/libdeps/d1_mini/FastLED/src/platforms/apollo3/fastspi_apollo3.h
.pio/libdeps/d1_mini/FastLED/src/platforms/apollo3/led_sysdefs_apollo3.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/common/m0clockless.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/d21/clockless_arm_d21.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/d21/fastled_arm_d21.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/d21/fastpin_arm_d21.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/d21/led_sysdefs_arm_d21.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/d51/clockless_arm_d51.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/d51/fastled_arm_d51.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/d51/fastpin_arm_d51.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/d51/led_sysdefs_arm_d51.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/d51/README.txt
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k20/clockless_arm_k20.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k20/clockless_block_arm_k20.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k20/fastled_arm_k20.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k20/fastpin_arm_k20.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k20/fastspi_arm_k20.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k20/led_sysdefs_arm_k20.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k20/octows2811_controller.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k20/smartmatrix_t3.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k20/ws2812serial_controller.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k66/clockless_arm_k66.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k66/clockless_block_arm_k66.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k66/fastled_arm_k66.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k66/fastpin_arm_k66.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k66/fastspi_arm_k66.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/k66/led_sysdefs_arm_k66.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/kl26/clockless_arm_kl26.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/kl26/fastled_arm_kl26.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/kl26/fastpin_arm_kl26.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/kl26/fastspi_arm_kl26.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/kl26/led_sysdefs_arm_kl26.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/mxrt1062/block_clockless_arm_mxrt1062.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/mxrt1062/clockless_arm_mxrt1062.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/mxrt1062/fastled_arm_mxrt1062.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/mxrt1062/fastpin_arm_mxrt1062.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/mxrt1062/fastspi_arm_mxrt1062.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/mxrt1062/led_sysdefs_arm_mxrt1062.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/mxrt1062/octows2811_controller.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/nrf51/clockless_arm_nrf51.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/nrf51/fastled_arm_nrf51.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/nrf51/fastpin_arm_nrf51.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/nrf51/fastspi_arm_nrf51.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/nrf51/led_sysdefs_arm_nrf51.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/nrf52/arbiter_nrf52.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/nrf52/clockless_arm_nrf52.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/nrf52/fastled_arm_nrf52.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/nrf52/fastpin_arm_nrf52_variants.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/nrf52/fastpin_arm_nrf52.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/nrf52/fastspi_arm_nrf52.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/nrf52/led_sysdefs_arm_nrf52.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/sam/clockless_arm_sam.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/sam/clockless_block_arm_sam.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/sam/fastled_arm_sam.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/sam/fastpin_arm_sam.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/sam/fastspi_arm_sam.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/sam/led_sysdefs_arm_sam.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/stm32/clockless_arm_stm32.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/stm32/cm3_regs.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/stm32/fastled_arm_stm32.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/stm32/fastpin_arm_stm32.h
.pio/libdeps/d1_mini/FastLED/src/platforms/arm/stm32/led_sysdefs_arm_stm32.h
.pio/libdeps/d1_mini/FastLED/src/platforms/avr/clockless_trinket.h
.pio/libdeps/d1_mini/FastLED/src/platforms/avr/fastled_avr.h
.pio/libdeps/d1_mini/FastLED/src/platforms/avr/fastpin_avr.h
.pio/libdeps/d1_mini/FastLED/src/platforms/avr/fastspi_avr.h
.pio/libdeps/d1_mini/FastLED/src/platforms/avr/led_sysdefs_avr.h
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/32/clockless_block_esp32.h
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/32/clockless_i2s_esp32.h
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/32/clockless_rmt_esp32.cpp
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/32/clockless_rmt_esp32.h
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/32/fastled_esp32.h
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/32/fastpin_esp32.h
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/32/fastspi_esp32.h
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/32/led_sysdefs_esp32.h
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/8266/clockless_block_esp8266.h
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/8266/clockless_esp8266.h
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/8266/fastled_esp8266.h
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/8266/fastpin_esp8266.h
.pio/libdeps/d1_mini/FastLED/src/platforms/esp/8266/led_sysdefs_esp8266.h
.pio/libdeps/d1_mini/arduino/.hg_archival.txt
.pio/libdeps/d1_mini/arduino/.piopm
.pio/libdeps/d1_mini/arduino/arduino.cpp
.pio/libdeps/d1_mini/arduino/arduino.h
.pio/libdeps/d1_mini/arduino/library.json
.vscode
.vscode/c_cpp_properties.json
VUMeter.code-workspace
